<!DOCTYPE html>
<html>
    <head>
        <title>WorkDone List</title>
        <meta charset="utf-8"/>

        {% load static %}
        <link rel="stylesheet" href="{% static 'todolist/style.css' %}">
    </head>
    <body>
        <header>
            <h1 class="title">
                <div>
                    <a href='{% url 'todolist:index' %}'>WorkDone List</a>
                </div>

                <div class='title_auth_button'>
                    {% if user.is_authenticated %}
                        <a class='log_out' href='{% url 'todolist:logout' %}'>
                            Log out
                        </a>
                    {% else %}
                        <a class='log_in' href='{% url 'todolist:login' %}'>
                            Log in
                        </a>
                    {% endif %}
                </div>
            </h1>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <!-- Pop-up windows -->
        <div class='task_add_group_form' id='task_add_group'>
            <form method='POST' class='task_add_group_form_container' action='{% url 'todolist:add_group' %}'>
                {% csrf_token %}
                <legend class='task_add_group_form_legend'>Add new group</legend>

                <input type='text' class='add_group_name_input' name='group_name' maxlength='50' placeholder='Group name' required>
                
                <button type='submit' class='task_add_group_form_save btns'>Save</button>
            </form>
        </div>

        <div class='task_delete_group_form' id='task_delete_group'>
            <form method='POST' class='task_delete_group_form_container' action='{% url 'todolist:delete_group' %}'>
                {% csrf_token %}
                <legend class='task_delete_group_form_legend'>Delete group</legend>

                <div class='task_delete_group_form_content'>
                    <label>Select group</label>
                    {{ task_form.group }}
                    
                    <button type='submit' class='task_delete_group_form_save btns'>Delete</button>
                </div>
            </form>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        function openForm(element) {           
            var form = document.getElementById(element);
            
            if (form.style.display === "block") {
                form.style.display = "none";
            }
            else {
                form.style.display = "block";
            }
        }

        $(function() {
            $('#task_add_group').draggable();
        });

        $(function() {
            $('#task_delete_group').draggable();
        });
    </script>
</html>