{% extends 'todolist/base.html' %}

{% block content %}
    <div class='dashboard_container'>
        <div class='upcoming_deadlines_container'>
            <h2 class='upcoming_deadlines_header'>
                Upcoming deadlines
            </h2>

            <div class='upcoming_deadlines_tasks form_flex_container'>
                {% if task_list %}
                    {% for task in task_list %}
                        <a href='{% url 'todolist:detail' task.id %}'>
                            <div class='upcoming_deadlines_task_{{ task.id }}'>
                                <div class='upcoming_deadlines_task_name fields_grid_container'>
                                    {{ task.name }}
                                    
                                    {% if task.is_outdated %}
                                        <!-- Message if task is outdated -->
                                        <span class='outdated'>Outdated</span>
                                    {% endif %}
                                </div>

                                <div>
                                    Priority: {{ task.priority }}
                                </div>

                                <div>
                                    Deadline: {{ task.deadline }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                        <!-- Message if task_list is empty -->
                        You dont have any tasks yet.
                {% endif %}
            </div>
        </div>
        
        <div class='completed_today_container'>
            <h2>
                Tasks completed today: {{ completed_today }}
            </h2>

            <div class='completed_recently'>
                <h3>
                    Completed recently:
                </h3>
    
                <div class='completed_recently_tasks form_flex_container'>
                    {% if completed_recently %}
                        {% for task in completed_recently %}
                            <div class='completed_recently_task_{{ task.id }}'>
                                <div class='completed_recently_task_name'>
                                    {{ task.name }}
                                </div>

                                <div>
                                    Completed at: {{ task.complete_date.time }}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <!-- Message if no tasks completed today -->
                        You havent completed any tasks recently.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}