{% extends 'todolist/base.html' %}

{% block content %}
    <div class='detail_flex_container'>
        <div>
            <h2>{{ task.name }}</h2>
        </div>
        <div>
            <h3>Groups:</h3>
            <p>{{ task.group_names }}</p>
        </div>
        <div>
            <h3>Description</h3>
            <p>
                {% if task.description %}
                    {{ task.description }}
                {% else %}
                    {{ task.name }}
                {% endif %}
            </p>
        </div>

        <div class='detail_time_info'>
            Created: {{ task.creation_date }}<br>
            Deadline: {{ task.deadline }}
        </div>

        <div class='detail_buttons buttons_flex_container'>
            <a href='{% url 'todolist:edit' task.id %}'>
                <button type='button' class='detail_edit_button btns'>Edit</button>
            </a>

            <form class='detail_complete_container' method='POST' action='{% url 'todolist:complete_task' task.id %}'>
                {% csrf_token %}
                <button type='submit' class='detail_complete_button btns'>Mark as complete</button>
            </form>
        </div>
    </div>
{% endblock %}