{% extends 'todolist/base.html' %}

{% block content %}
    <div class='detail_flex_container'>
        <div>
            <h2>{{ task.name }}</h2>
        </div>
        <div>
            <h3>Groups:</h3>
            <p>{{ task.group_names }}</p>
        </div>
        <div>
            <h3>Description</h3>
            <p>{{ task.description }}</p>
        </div>

        <div class='detail_time_info'>
            Created: {{ task.creation_date }}<br>
            Deadline: {{ task.deadline }}
        </div>
    </div>
{% endblock %}