{% extends 'todolist/base.html' %}

{% block content %}
    <form class='edit_flex_container' action='{% url 'todolist:edit_task' task.id %}' method="POST">
        {% csrf_token %}

        {% for field in task_form %}
        <div>
            {{ field.label }}:
            {{ field }}
        </div>
        {% endfor %}

        <button type='button' class='task_edit_add_group_button' onclick="openForm('task_add_group')">Add group</button>

        <button type='submit' class='edit_flex_container_save'>Save</button>
    </form>

    <div class='task_add_group_form' id='task_add_group'>
        <form method='POST' class='task_add_group_form_container' action='{% url 'todolist:add_group' %}'>
            {% csrf_token %}
            <legend class='task_add_group_form_legend'>Add new group</legend>

            <input type='text' class='add_group_name_input' name='group_name' maxlength='50' placeholder='Group name' required>
            
            <button type='submit' class='task_add_group_form_save'>Save</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        function openForm(element) {           
            var form = document.getElementById(element);
            
            if (form.style.display === "block") {
                form.style.display = "none";
            }
            else {
                form.style.display = "block";
            }
        }

        $(function() {
            $('#task_add_group').draggable();
        });
    </script>
{% endblock %}