{% extends 'todolist/base1.html' %}

{% block content %}
    <!-- Main form -->
    <form class='edit_flex_container' action='{% url 'todolist:edit_task' task.id %}' method="POST">
        {% csrf_token %}

        <!-- Fields -->
        {% for field in task_form %}
        <div class='edit_flex_container_items'>
            {{ field.label }}:
            {{ field }}
        </div>
        {% endfor %}

        <!-- Buttons for group managing-->
        <div class='edit_buttons'>
            <button type='button' class='task_edit_add_group_button btns' onclick="openForm('task_add_group')">Add group</button>
            <button type='button' class='task_edit_delete_group_button btns' onclick="openForm('task_delete_group')">Delete group</button>
        </div>

        <button type='submit' class='edit_flex_container_save btns'>Save</button>
    </form>
{% endblock %}