{% extends 'todolist/base1.html' %}

<head>
    {% load static %}
</head>

{% block content %}
    {% if task_list %}
        <!-- List of tasks -->
        <ul>
            {% for task in task_list %}
                <li>
                    <form id='task_form_{{ task.id }}' action='{% url 'todolist:complete_task' task.id %}' method="POST" class='task_flex_container'>
                        {% csrf_token %}

                        <input type='image' class='index_checkbox' id='task_{{ task.id }}' 
                        src='{% static 'todolist/images/checkbox1.png' %}' onmouseover='hover(this);' onmouseout='unhover(this);'>
                        
                        <div class='task_grid_container'>
                            <div>
                                <a href='{% url 'todolist:detail' task.id %}'>{{ task.name }}</a>
                            </div>
                            <div>
                                {% if task.group_names %}
                                    {{ task.group_names }}
                                {% else %}
                                    <!-- Display appropriate message if task doesnt have groups -->
                                    No groups
                                {% endif %}
                            </div>
                            <div>
                                {{ task.priority }}
                            </div>
                            <div>
                                {% if not task.is_outdated %}
                                    Do until {{ task.deadline }}
                                {% else %}
                                    <!-- Display appropriate message if task is beyond deadline-->
                                    <span class='outdated'>Outdated</span>
                                {% endif %}
                            </div>
                            <a class='task_edit' href='{% url 'todolist:edit' task.id %}'>
                                <img src='{% static 'todolist/images/edit.png' %}' class='task_edit_button'>
                            </a>
                        </div>
                    </form>
                </li>
            {% endfor %}
        <ul>
    {% else %}
        <!-- Message if no tasks -->
        <p style='text-align: center'>You dont have tasks for now.</p>
    {% endif %}
    
    <!-- Create task button -->
    <div class='task_create_open' onclick="openForm('task_create_form')">Create task</div>

    <!-- Pop-up windows -->
    <div class='task_create_form' id='task_create_form'>
        <form method='POST' class='task_create_form_container' action='{% url 'todolist:create_task' %}'>
            {% csrf_token %}
            <legend class='task_create_form_legend'>Create new task</legend>
            {{ task_form.as_p }}

            <!-- Buttons for group managing -->
            <button type='button' class='task_create_form_add_group_button btns' onclick="openForm('task_add_group')">Add group</button>
            <button type='button' class='task_create_form_delete_group_button btns' onclick="openForm('task_delete_group')">Delete group</button>

            <button type='submit' class='task_create_form_save btns'>Save</button>
        </form>
    </div>

    <script>
        function hover(element) {
            element.setAttribute('src', '{% static 'todolist/images/checkbox2.png' %}');
        }
          
        function unhover(element) {
            element.setAttribute('src', '{% static 'todolist/images/checkbox1.png' %}');
        }

        
        $(function() {
            $('#task_create_form').draggable();
        });
    </script>
{% endblock %}