{% extends 'todolist/base.html' %}

<head>
    {% load static %}
</head>

{% block content %}
    {% if task_list %}
        <ul>
            {% for task in task_list %}
                <li>
                    <form id='task_form_{{ task.id }}' action='{% url 'todolist:complete_task' task.id %}' method="POST" class='task_flex_container'>
                        {% csrf_token %}

                        <input type='image' class='index_checkbox' id='task_{{ task.id }}' 
                        src='{% static 'todolist/images/checkbox1.png' %}' onmouseover='hover(this);' onmouseout='unhover(this);'>
                        
                        <div class='task_grid_container'>
                            <div>
                                <a href='{% url 'todolist:detail' task.id %}'>{{ task.name }}</a>
                            </div>
                            <div>
                                {{ task.group_names }}
                            </div>
                            <div>
                                {{ task.priority }}
                            </div>
                            <div>
                                {% if not task.is_outdated %}
                                    Do until {{ task.deadline }}
                                {% else %}
                                    <span class='outdated'>Outdated</span>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </li>
            {% endfor %}
        <ul>
    {% else %}
        <p style='text-align: center'>You dont have tasks for now.</p>
    {% endif %}

    <div class='task_create_open' onclick="openForm('task_create_form')">Create task</div>

    <div class='task_create_form' id='task_create_form'>
        <form method='POST' class='task_create_form_container' action='{% url 'todolist:create_task' %}'>
            {% csrf_token %}
            <legend class='task_create_form_legend'>Create new task</legend>
            {{ task_form.as_p }}
            <button type='button' class='task_create_form_add_group_button' onclick="openForm('task_add_group')">Add group</button>

            <button type='submit' class='task_create_form_save'>Save</button>
        </form>
    </div>

    <div class='task_add_group_form' id='task_add_group'>
        <form method='POST' class='task_add_group_form_container' action='{% url 'todolist:add_group' %}'>
            {% csrf_token %}
            <legend class='task_add_group_form_legend'>Add new group</legend>

            <input type='text' class='add_group_name_input' name='group_name' maxlength='50' placeholder='Group name' required>
            
            <button type='submit' class='task_add_group_form_save'>Save</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        function hover(element) {
            element.setAttribute('src', '{% static 'todolist/images/checkbox2.png' %}');
        }
          
        function unhover(element) {
            element.setAttribute('src', '{% static 'todolist/images/checkbox1.png' %}');
        }

        function openForm(element) {           
            var form = document.getElementById(element);
            
            if (form.style.display === "block") {
                form.style.display = "none";
            }
            else {
                form.style.display = "block";
            }
        }

        $(function() {
            $('#task_create_form').draggable();
        });
    </script>
{% endblock %}