<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
<body>
    {% if task_list %}
        <ul>
            {% for task in task_list %}
                <li>
                    <form id='task_form_{{ task.id }}' action="{% url 'todolist:complete_task' task.id %}" method="POST">
                        {% csrf_token %}

                        <input type='checkbox' id='task_{{ task.id }}' onclick='submitForm("task_form_{{ task.id }}")'></input>
                        
                        <label for='task_{{ task.id }}'>
                            <a href='{% url 'todolist:detail' task.id %}'>{{ task.name }}</a> 
                            — {{ task.group_names }} — {{ task.priority }} — 
                            {% if not task.is_outdated %}
                                Do until {{ task.deadline }}
                            {% else %}
                                Outdated
                            {% endif %}
                        </label>
                    </form>
                </li>
            {% endfor %}
        <ul>
    {% else %}
        <p>You dont have tasks for now.</p>
    {% endif %}

    <script>
        function submitForm(formId) {
            var form = document.getElementById(formId);
            form.submit();
        }
    </script>
</body>
</html>