{% extends 'todolist/base2.html' %}

{% block content %}
    <div class='auth_container'>
        <h1 class='login_title'>Log in</h1>

        <form class='login_form_container form_flex_container' method="POST" action='{% url 'todolist:login' %}' autocomplete="off">
            {% csrf_token %}
            
            <div class='login_fields fields fields_grid_container'>
                {% for field in login_form %}
                        {{ field.label }}:
                        {{ field }}
                {% endfor %}
            </div>

            <input type="submit" value="Login" class='login_form_button btns'>
        </form>

        <div class='auth_alt_option'>
            Dont have an account?
            <a href='{% url 'todolist:register' %}'>
                <button class='login_register_button btns'>Register</button>
            </a>
        </div>
    </div>
{% endblock %}