{% extends 'todolist/base2.html' %}

{% block content %}
    <div class='auth_container'>
        <h1 class='register_title'>Register</h1>

        <form class='register_form_container form_flex_container' method="POST" action='{% url 'todolist:register' %}' autocomplete="off">
            {% csrf_token %}
            
            <div class='register_fields fields fields_grid_container'>
                {% for field in register_form %}
                        {{ field.label }}:
                        {{ field }}
                {% endfor %}
            </div>
            

            <input type="submit" value="Sign in" class='register_form_button btns'>
        </form>

        <div class='auth_alt_option'>
            Already have an account?
            <a href='{% url 'todolist:login' %}'>
                <button class='register_login_button btns'>Log in</button>
            </a>
        </div>
    </div>
{% endblock %}