body {
    background-color: #393E41;
    color: #F6F4F3;
    font-size: 25px;
}



.buttons_flex_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.btns {
    padding: 5px;
    border-radius: 5px;

    background-color: #F03A47;
    font-weight: 600;
    cursor: pointer;

    transition: background-color 0.3s;
}

.btns:hover {
    background-color: #AF5B5B;
}

.form_flex_container {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
}

.fields_grid_container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    justify-content: center;
}


.fields > input, select {
    border-radius: 7px;
    font-size: 17px;
    text-align: center;

    transition: outline-color 0.4s, opacity 0.4s;
}

.fields > input:focus, select:focus {
    outline-color: #F03A47;
    opacity: 0.95;
}

.fields > select option {
    transition: outline 0.2s, background-color 0.2s;
}

.fields > select option:hover {
    background-color: #F03A47;
    outline: 1px solid #AF5B5B;
}

.fields > select option:checked {
    background-color: #F03A47;
    outline: 1px solid #5d656a;
    font-weight: 600;
}



.title {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

    background-color: #F03A47;
    padding: 30px;
    margin: -20px -7px 50px -7px;
}

.title > div {
    transition: opacity 0.4s;
}

.title > div:hover {
    opacity: 0.8;
}

.title_auth_button {
    cursor: pointer;
    font-size: 70%;
    align-self: center;

}

.index_checkbox {
    width: 24px;
    height: 24px;
}

ul {
    list-style-type: none;
}

a {
    color: #F6F4F3;;
    text-decoration: none;
}

.task_flex_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid #5d656a;

    transition: background-color 0.3s, border-radius 0.3s;
}

.task_grid_container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 24px;
}

.task_edit_button {
    opacity: 0;
    cursor: pointer;

    width: 24px;
    height: 24px;

    transition: opacity 0.3s;
}

.task_flex_container:hover {
    background-color: #5d656a;

    outline: 1px solid #5d656a;
    border-radius: 15px;
}

.task_flex_container:hover .task_grid_container .task_edit_button {
    opacity: 1;
}

input[type=image] {
    margin-right: 40px;
    align-self: baseline;
}

.outdated {
    color: red;
}

.task_create_open {
    text-align: center;
    cursor: pointer;
    user-select: none;

    padding: 10px;
    margin: auto;
    max-width: 95%;
    border: 1px solid #AF5B5B;
    border-radius: 15px;

    transition: background-color 0.3s;
}

.task_create_open:hover {
    background-color: #AF5B5B;
}
  
.task_create_form, .task_add_group_form, .task_delete_group_form {
    display: none;
    position: absolute;
    cursor: move;

    border: 5px solid #AF5B5B;
    border-radius: 15px;
    z-index: 9;
}
  
.task_create_form_container, .task_add_group_form_container, .task_delete_group_form_container {
    padding: 40px 80px;
    border-radius: 10px;
    background-color: #F6F4F3;
    color: black;
}

.task_create_form_legend, .task_add_group_form_legend, .task_delete_group_form_legend {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.task_create_form_save {
    width: 50%;
    padding: 10px;
    border-radius: 10px;

    font-weight: 700;
}

.task_add_group_form, .task_delete_group_form {
    left: 40%;
    top: 50%;
}

.task_delete_group_form_content {
    margin-top: 20px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.task_delete_group_form_save {
    padding: 10px;
    border-radius: 10px;
}


.detail_flex_container {
    display: flex;
    flex-direction: column;

    margin-left: 20px;
}

.detail_flex_container > div {
    margin: 0px 10px;

    border-bottom: 2px solid #AF5B5B;
}

.detail_time_info {
    text-align: right;
    padding: 15px 0px;
}

.detail_edit_button {
    width: 10%;
    padding: 15px;
    border-radius: 15px;
    margin: 15px 0 0 28px;
}


.edit_flex_container {
    gap: 20px;
}

.edit_flex_container_items {
    gap: 40px;

    font-size: 35px;
    padding: 10px 35px;

    border-bottom: 2px solid #AF5B5B;
}

.edit_flex_container_items > input {
    font-size: 20px;
    width: auto;
}

.edit_group_managing_buttons > button {
    padding: 10px;
    border-radius: 10px;
}

.edit_flex_container_save {
    width: 15%;
    padding: 15px;
    border-radius: 10px;
}


.auth_container {
    max-width: fit-content;
    margin: auto;
}

.login_title, .register_title {
    text-align: center;
}

.auth_alt_option {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
}

.register_error_messages, .login_error_message {
    gap: 15px;
    padding: 15px 20px;
    border-radius: 20px;
    outline: 4px solid #AF5B5B;
}

.register_error_messages > div, .login_error_message > div {
    border-bottom: 2px solid #AF5B5B;
    font-size: 24px;
}

.register_form_button, .login_form_button {
    min-width: 15%;
    max-width: 35%;
    padding: 10px;
    border-radius: 10px;
}

.register_login_button, .login_register_button {
    padding: 10px;
    border-radius: 10px;

    background-color: #F03A47;
    font-weight: 600;
    cursor: pointer;

    transition: background-color 0.3s;
}

