body {
    background-color: #393E41;
    color: white;
    font-size: 25px;
}

.title {
    background-color: #F03A47;
    padding: 30px;
    margin: -20px -7px 50px -7px;
}

.index_checkbox {
    width: 24px;
    height: 24px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.task_flex_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid #5d656a;

    transition: background-color 0.3s, border-radius 0.3s;
}

.task_grid_container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}

.task_flex_container:hover {
    background-color: #5d656a;

    border: 1px solid #5d656a;
    border-radius: 15px;
}

input[type=image] {
    margin-right: 40px;
    align-self: baseline;
}

.outdated {
    color: red;
}

.task_create_open {
    text-align: center;
    cursor: pointer;
    user-select: none;

    padding: 10px;
    margin: auto auto auto -30px;
    border: 1px solid #AF5B5B;
    border-radius: 15px;

    transition: background-color 0.3s;
}

.task_create_open:hover {
    background-color: #AF5B5B;
}
  
.task_create_form, .task_add_group_form {
    display: none;
    position: absolute;
    cursor: move;

    border: 5px solid #AF5B5B;
    z-index: 9;
}
  
.task_create_form_container, .task_add_group_form_container {
    padding: 40px 80px;
    background-color: #F6F4F3;
    color: black;
}

.task_create_form_legend, .task_add_group_form_legend {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.task_create_form_save {
    width: 50%;
    margin-left: 25%;
    padding: 10px;
}

.task_add_group_form {
    left: 40%;
    cursor: auto;
}


.detail_flex_container {
    display: flex;
    flex-direction: column;

    margin-left: 20px;
}

.detail_flex_container > div {
    margin: 0px 10px;

    border-bottom: 2px solid #AF5B5B;
}

.detail_time_info {
    text-align: right;
    padding: 15px 0px;
}