body {
    background-color: #393E41;
    color: #F6F4F3;
    font-size: 25px;
}



.buttons_flex_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.btns {
    padding: 5px;
    border-radius: 5px;

    background-color: #F03A47;
    font-weight: 600;
    cursor: pointer;

    transition: background-color 0.3s;
}

.btns:hover {
    background-color: #d05151;
}

.form_flex_container {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
}

.fields_grid_container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    justify-content: center;
}


.fields > input, select {
    border-radius: 7px;
    font-size: 17px;
    text-align: center;

    transition: outline-color 0.4s, opacity 0.4s;
}

.fields > input:focus, select:focus {
    outline-color: #F03A47;
    opacity: 0.95;
}

.fields > select option {
    transition: outline 0.2s, background-color 0.2s;
}

.fields > select option:hover {
    background-color: #F03A47;
    outline: 1px solid #d05151;
}

.fields > select option:checked {
    background-color: #F03A47;
    outline: 1px solid black;
    font-weight: 600;
}



.title {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: start;

    background-color: #F03A47;
    padding: 2% 2% 1.2% 2%;
    margin: -20px -7px 50px -7px;
}

.title > div {
    transition: opacity 0.4s;
}

.title > div:hover {
    opacity: 0.8;
}

.burger_menu #menu {
    display: none;
    position: absolute;
    top: 9%;
    right: 1.8%;

    background-color: #F03A47;
    border-radius: 5px;
    border: 2px solid #F6F4F3;

    min-width: 5%;
    overflow: auto;
    z-index: 1;
}

.burger_menu #menu > a {
    display: block;
    padding: 8px 30px;
    border: 2px solid #F6F4F3;

    font-size: 120%;
    font-weight: 600;
    text-align: center;
    cursor: pointer;

    transition: background-color 0.4s;
}

.burger_menu #menu > a:hover {
    background-color: #d05151;
}

.burger_button {
    cursor: pointer;
}

.burger {
    width: 60px;
    height: 60px;
}

.index_checkbox {
    width: 24px;
    height: 24px;
}

ul {
    list-style-type: none;
}

a {
    color: #F6F4F3;;
    text-decoration: none;
}

.task_flex_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid #5d656a;

    transition: background-color 0.3s, border-radius 0.3s;
}

.task_grid_container {
    display: grid;
    grid-template-columns: 300px 300px 300px 400px auto;
}

.task_buttons {
    align-self: center;
    gap: 20px;
}

.task_edit_button, .task_delete_button {
    opacity: 0;
    cursor: pointer;

    width: 30px;
    height: 30px;
    align-self: center;

    transition: opacity 0.3s;
}

.task_flex_container:hover {
    background-color: #5d656a;

    outline: 1px solid #5d656a;
    border-radius: 15px;
}

.task_flex_container:hover .task_grid_container .task_buttons a img {
    opacity: 1;
}

input[type=image] {
    margin-right: 40px;
    align-self: baseline;
}

.outdated {
    color: red;
}

.task_create_open {
    text-align: center;
    cursor: pointer;
    user-select: none;

    padding: 10px;
    margin: auto;
    max-width: 95%;
    border: 1px solid #d05151;
    border-radius: 15px;

    transition: background-color 0.3s;
}

.task_create_open:hover {
    background-color: #d05151;
}
  
.task_create_form, .task_add_group_form, .task_delete_group_form, .clean_completed_today {
    display: none;
    position: absolute;
    top: 30%;
    left: 35%;
    cursor: move;

    border: 5px solid #d05151;
    border-radius: 15px;
    z-index: 9;
}
  
.task_create_form_container, .task_add_group_form_container, .task_delete_group_form_container, .clean_completed_today_container {
    padding: 40px 80px;
    border-radius: 10px;
    background-color: #F6F4F3;
    color: black;
}

.task_create_form_legend, .task_add_group_form_legend, .task_delete_group_form_legend, .clean_completed_today_legend {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.task_create_form_save {
    width: 50%;
    padding: 10px;
    border-radius: 10px;

    font-weight: 700;
}

.task_add_group_form, .task_delete_group_form {
    left: 38%;
    top: 50%;
}

.task_delete_group_form_content {
    margin-top: 20px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.task_delete_group_form_save {
    padding: 10px;
    border-radius: 10px;
}


.detail_flex_container {
    display: flex;
    flex-direction: column;

    margin-left: 1%;
}

.detail_flex_container > div {
    margin: 0px 10px;

    border-bottom: 2px solid #AF5B5B;
}

.detail_flex_container > div:last-child {
    border-bottom: none;
}

.detail_buttons button {
    margin: 10px 0;
    padding: 15px 20px;
    font-size: 55%;
    border-radius: 15px;
}

.detail_time_info {
    text-align: right;
    padding: 15px 0px;
}

.edit_flex_container {
    gap: 20px;
}

.edit_flex_container_items {
    gap: 40px;

    font-size: 35px;
    padding: 10px 35px;

    border-bottom: 2px solid #AF5B5B;
}

.edit_flex_container_items > input {
    font-size: 20px;
    width: auto;
}

.edit_group_managing_buttons > button {
    padding: 10px;
    border-radius: 10px;
}

.edit_flex_container_save {
    width: 15%;
    padding: 15px;
    border-radius: 10px;
}


.auth_container {
    max-width: fit-content;
    margin: auto;
}

.login_title, .register_title {
    text-align: center;
}

.auth_alt_option {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
}

.register_error_messages, .login_error_message {
    gap: 15px;
    padding: 15px 20px;
    border-radius: 20px;
    outline: 4px solid #d05151;
}

.register_error_messages > div, .login_error_message > div {
    border-bottom: 2px solid #AF5B5B;
    font-size: 24px;
}

.register_form_button, .login_form_button {
    min-width: 15%;
    max-width: 35%;
    padding: 10px;
    border-radius: 10px;
}

.register_login_button, .login_register_button {
    padding: 10px;
    border-radius: 10px;

    background-color: #F03A47;
    font-weight: 600;
    cursor: pointer;

    transition: background-color 0.3s;
}

.dashboard_container {
    display: grid;
    grid-template-columns: 25% 28% auto;
    gap: 4%;
}

.dashboard_container > div {
    border: 6px solid #5d656a;
    padding: 10px 15px;
}

.dashboard_container > div > h2 {
    margin: 15px 0px;
}

.completed_today_counter {
    grid-template-columns: auto 40px;
    align-items: center;
    justify-content: space-between;
}

.completed_today_clean_button, .completed_recently_delete_button {
    cursor: pointer;
    opacity: 0.8;

    width: 40px;
    height: 40px;

    transition: opacity 0.2s;
}

.completed_recently_delete_button {
    width: 35px;
    height: 35px;
}

.completed_today_clean_button:hover, .completed_recently_delete_button:hover {
    opacity: 1;
}

.clean_completed_today_container {
    padding: 30px 30px;
}

.clean_completed_today_content {
    gap: 7px;
}

.clean_completed_today_warning {
    color: red;
}

.clean_completed_today_buttons > button {
    width: auto;
    padding: 5px 10px;
}

.completed_recently {
    padding-bottom: 15px;
}

.upcoming_deadlines_tasks, .completed_recently_tasks {
    align-items: stretch;
    gap: 20px;
}

.upcoming_deadlines_tasks a > div, .completed_recently_tasks > div {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 12px;
    background-color: #5d656a;

    transition: background-color 0.4s;
}

.upcoming_deadlines_tasks a > div:hover, .completed_recently_tasks > div:hover {
    background-color: #4c5357;
}

.upcoming_deadlines_task_name, .completed_recently_task_name {
    font-weight: 600;
    font-size: 115%;
    padding-bottom: 4px;
    border-bottom: 2px solid #AF5B5B;
}

.upcoming_deadlines_task_name, .completed_recently_desc {
    justify-content: space-between;
}